.contact-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    gap: 20px;
  }
  
  .contact-form, .contact-info {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2, .contact-info h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input:focus,textarea:focus{
    border-color: rgb(166, 166, 166);
    outline: 0.5px solid rgb(166, 166, 166);
  }
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
  .submit-button:hover {
    background-color: #000000;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info p strong {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .contact-page {
      flex-direction: column;
    }
  }
